<!DOCTYPE html>
<html lang="ja">

<head>
    <div th:replace="~{common/meta_head :: common-meta}">common meta data</div>
    <title>title</title>
</head>

<body>
    <header th:replace="~{common/header :: common}">common header</header>
    <main> 
        <div class="container">
        <h1 th:text="${title}"></h1>

        <form th:action="@{/valid_result}" th:object="${form}" method="post">
            <div>
                <label for="paramA">パラメータA:</label>
                <input type="text" name="paramA" th:field="*{paramA}" />
                <div th:if="${#fields.hasErrors('paramA')}" th:errors="*{paramA}" style="color: red;"></div>
            </div>
            <div>
                <label for="paramB">パラメータB:</label>
                <input type="text" name="paramB" th:field="*{paramB}" />
                <div th:if="${#fields.hasErrors('paramB')}" th:errors="*{paramB}" style="color: red;"></div>
            </div>
            <div>
                <label for="paramA">パラメータC:</label>
                <input type="text" name="paramC" th:field="*{paramC}" />
                <div th:if="${#fields.hasErrors('paramC')}" th:errors="*{paramC}" style="color: red;"></div>
            </div>
            <div>
                <button type="submit" class="waves-effect waves-light btn">Submit</button>
            </div>
        </form>
    </div>

    </main>
    <footer th:replace="~{common/footer :: common}">common footer</footer>
    <div th:replace="~{common/meta_script :: common-script}">common-script</div>
</body>

</html>